torch
torchvision
torchaudio
pandas
seaborn
matplotlib
praw
python-decouple
tweepy
texthero
vaderSentiment
statsmodels
pystan
fbprophet
# in case of stanmodel error
# try install fbprophet --no-cache-dir
# or try: pip3 install fbprophet --no-cache-dir --no-binary :all: